{% extends "_base.html" %}
{%load crispy_forms_tags %}
{% block page_title %}
    Sign up
{% endblock page_title %}

{% block content %}
    <form method="post" >
        {% csrf_token %}
            <h1 class="text-center">Sign Up</h1>
            {{form|crispy}}
            <div class="d-flex justify-content-between align-items-center">
            </div>
            <button type="submit" class="btn btn-success mt-3 w-100">Sign Up</button>
            <div class="line-with-middle-sep">
            </div>
        </form>
{% endblock content %}